body{
    background-color: white;
}
#encabezado{
    
    text-align: center;
}
.articulo{
    Text-align: center;

}


#ir_aviso{
    text-align: center;
}
#ir_organizaciones{
    text-align: center;
}

#insc_organicazion{
text-align: center;
}

p{text-align: center
    ;
}