.contenedor{
    display: flex
    
    ;
}

.articulo h3 {
    text-align: center;

}

.articulo{
    border: 3px solid black;
    padding: 5px;
    margin: 15px;
}

p{
    text-align: justify;
}



img{
    margin-left: 25%;
}